{% extends 'layout.html' %}

{% block title %} Change password {% endblock %}

{% block main %}

<h4 style="color:white">Fill im the following to change your password</h4>

<form action="/password" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="c-password" placeholder="Current password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="n-password" placeholder="New password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm new password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>

{% endblock %}